<!-- <p>content inside app component html</p>
<button (click)="getData()">Click Here</button> -->

<!-- <p>content inside app component html</p> -->
<!-- <dx-data-grid id="gridContainer" dataSource="https://jsonplaceholder.typicode.com/posts"
    [columns]="['id','userId','title', 'body']" [showBorders]="true">
    <dx-button text="OK" (onClick)="okClicked()">
    </dx-button>
</dx-data-grid> -->

<!-- <dx-data-grid id="gridContainer" dataSource="https://jsonplaceholder.typicode.com/posts" [allowColumnReordering]="true"
    [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true" (onClick)="pointClickHandler($event)">
    <dxo-common-series-settings argumentField="name" type="bar">
    </dxo-common-series-settings>

    <dxi-column dataField="id" [width]="120"></dxi-column>
    <dxi-column dataField="userId" [width]="120"></dxi-column>
    <dxi-column dataField="title"></dxi-column>
    <dxi-column dataField="body"></dxi-column>
</dx-data-grid> -->

<p>content inside app component html</p>
<dx-data-grid id="gridContainer" [dataSource]="data" [allowColumnReordering]="true" [allowColumnResizing]="true"
    [columnAutoWidth]="true" [showBorders]="true">
    <dxo-common-series-settings argumentField="name" type="bar">
    </dxo-common-series-settings>
    <dxi-column dataField="id" [width]="120"></dxi-column>
    <dxi-column dataField="userId" [width]="120"></dxi-column>
    <dxi-column dataField="title"></dxi-column>
    <dxi-column dataField="body"></dxi-column>
</dx-data-grid>